@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
  background-color: #212121;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

ul,
li {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/*  */

#header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
#header-img {
  width: 3rem;
  animation: shake 0.3s infinite;
}
@keyframes shake {
  0% {transform: translateX(0);}
  25% {transform: translateX(0.8px);}
  25% {transform: translateY(0.8px);}
  50% {transform: translateX(-0.8px);}
  75% {transform: translateX(0.8px);}
  100% {transform: translateX(0);}
}

/*  */

#asteroids {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin: 0 0 2rem 0;
}
.asteroid-container {
  background-color: #080808;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: stretch;
  width: 900px;
  border-radius: 5px;
  padding: 1rem 0 1rem 5rem;
  letter-spacing: 0.4px;
}
.grid-col-span-3 {
  grid-column: span 3;
}

span {
  font-size: 1.2rem;
  font-weight: bold;
}

.asteroid-size-comparison, .asteroid-speed-comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-weight: 300;
}
.comparison-image {
  width: 130px;
}

.asteroid-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 200;
}
.asteroid-name {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.toggle-orbit-div {
  display: flex;
  gap: 0.5rem;
  height: 3rem;
}
.toggle-orbit-btn {
  width: 2.5rem;
  border-radius: 0.2rem;
  background: url("./assets/images/asteroid-button.png") no-repeat center;
  background-size: contain;
  margin: 0 0 0.2rem 0;
}
.rotate {
  animation: rotate 2s infinite;
}
.open-space {
  animation: rotate 2s infinite;
  opacity: 0.5;
}
@keyframes rotate {
  100% {transform: rotate(360deg);}
}
.dangerous, .not-dangerous {
  font-weight: 400;
  border: none;
  border-radius: 0.2rem;
  padding: 0.15rem 0.4rem;
  height: 1.5rem;
  margin: 0.5rem 0 0 0;
}
.dangerous {
  background-color: #ff5e5e;
  color: white;
}
.not-dangerous {
  background-color: #6fff87;
  color: black;
}

.orbit-container {
  width: 980px;
  height: 500px;
  background-color: black;
}
.orbit-container > canvas {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -2px 0 0 0;
}
.hide {
  display: none;
}

.space-options {
  position: relative;
}
.options-toggle {
  position: absolute;
  left: 5px;
  top: 0;
  opacity: 0.5;
}
.options {
  position: absolute;
  display: none;
  gap: 0.5rem;
  right: 5px;
  top: 3px;
}
.options > button {
  border: none;
  border-radius: 2px;
  opacity: 0.7;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}
.options > button:hover {
  opacity: 0.8;
}
.set-date-btn {
  position: absolute;
  right: 5px;
  top: 32px;
  border-radius: 2px;
  opacity: 0.7;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  display: none;
}
.set-date-btn:hover {
  opacity: 0.8;
}
.disclaimer-msg {
  position: absolute;
  bottom: -498px;
  left: 1px;
  background-color: #8eddff;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.5;
  padding: 0 0.3rem;
  border-top-right-radius: 0.5rem;
}

/*  */

@media (max-width: 1050px) {
  .asteroid-container {
    width: 800px;
    letter-spacing: 0.1px;
    padding: 1rem 0 1.5rem 5rem;
  }
  .orbit-container {
    width: 880px;
  }
  .asteroid-name {
    font-size: 2.2rem;
    margin: 0.5rem 0 -0.1rem 0;
  }
  .asteroid-size-comparison,
  .asteroid-speed-comparison {
    padding-top: 0.5rem;
  }
  .comparison-image {
    width: 110px;
  }
}

@media (max-width: 950px) {
  .asteroid-container {
    width: 700px;
    padding: 1rem 0 1.5rem 4rem;
  }
  .orbit-container {
    width: 764px;
  }
  .asteroid-size-comparison, .asteroid-speed-comparison {
    padding-top: 1.5rem;
  }
  .comparison-image {
    width: 100px;
  }
  .asteroid-name {
    font-size: 2rem;
  }
  .dangerous, .not-dangerous {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0 0.4rem -1rem 0.4rem;
  }
}

@media (max-width: 800px) {
  .asteroid-container {
    width: 600px;
    padding: 1rem 0 1.5rem 4rem;
    grid-template-columns: 240px 170px 170px;
  }
  .orbit-container {
    width: 664.5px;
  }
  .asteroid-size-comparison, .asteroid-speed-comparison {
    text-align: center;
  }
}

@media (max-width: 700px) {
  #header-link {
    font-size: 1.8rem;
    letter-spacing: 0;
    margin: 0.5rem 0;
  }
  .asteroid-container {
    width: 550px;
    padding: 1.3rem 1rem 1.5rem 2rem;
    grid-template-columns: 240px 170px 170px;
    align-items: flex-end;
  }
  .orbit-container {
    width: 598px;
  }
  .asteroid-name {
    font-size: 1.6rem;
    margin: 0 0 -0.5rem 0;
  }
  .asteroid-size-comparison,
  .asteroid-speed-comparison {
    padding-top: 0;
    margin: 0 0 0.5rem 0;
  }
  .comparison-image {
    width: 90px;
  }
}

@media (max-width: 642px) {
  .asteroid-container {
    width: 450px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.3rem;
    padding: 1.8rem;
  }
  .orbit-container {
    width: 508px;
  }
  .asteroid-details {
    grid-column: span 2;
    align-items: center;
    letter-spacing: 0.5px;
  }
  .asteroid-name {
    font-size: 3.2rem;
    margin: 0 0 0.2rem 0;
  }
  .comparison-image {
    width: 100px;
  }
  .asteroid-size-comparison {
    margin: 0;
    justify-self: end;
  }
  .asteroid-speed-comparison {
    margin: 0;
    justify-self: start;
  }
}

@media (max-width:550px) {
  .asteroid-container {
    width: 350px;
  }
  .orbit-container {
    width: 408px;
  }
}

@media (max-width:480px) {
  #header-link {
    gap: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  #header-img {
    width: 2.5rem;
  }
  .asteroid-container {
    padding: 0.8rem 0;
    gap: 0.5rem;
  }
  .orbit-container {
    width: 350px;
  }
  .asteroid-name {
    font-size: 2rem;
    margin: 0 0 -0.3rem 0;
  }
  .asteroid-size-comparison, .asteroid-speed-comparison {
    width: 100px;
  }
  .asteroid-size-comparison > p, .asteroid-speed-comparison > p {
    font-size: 0.9rem;
  }
  span {
    font-size: 0.9rem;
  }
  .comparison-image {
    width: 80px;
  }
}

@media (max-width:400px) {
  #header-link {
    font-size: 1.3rem;
  }
  .asteroid-container {
    width: 300px;
  }
  .orbit-container {
    width: 300px;
  }
  .comparison-image {
    width: 60px;
  }
  .orbit-container {
    height: 280px;
  }
}

@media (max-width:340px) {
  #header-img {
    display: none;
  }
}