@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
  background-color: #212121;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

ul,
li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/*  */

#header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
#header-img {
  width: 3rem;
  animation: shake 0.3s infinite;
}
@keyframes shake {
  0% {transform: translateX(0);}
  25% {transform: translateX(0.8px);}
  25% {transform: translateY(0.8px);}
  50% {transform: translateX(-0.8px);}
  75% {transform: translateX(0.8px);}
  100% {transform: translateX(0);}
}

/*  */

#asteroids {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin: 0 0 2rem 0;
}
.asteroid-container {
  background-color: #151515;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: stretch;
  width: 900px;
  border-radius: 5px;
  padding: 1rem 0 1rem 5rem;
  letter-spacing: 0.4px;
}
.grid-col-span-3 {
  grid-column: span 3;
}

span {
  font-size: 1.2rem;
  font-weight: bold;
}

.asteroid-size-comparison, .asteroid-speed-comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-weight: 300;
}
.comparison-image {
  width: 150px;
}

.asteroid-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 200;
}
.asteroid-name {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.toggle-orbit-div {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.toggle-orbit-btn {
  padding: 0.8rem;
  border-radius: 0.2rem;
}
.dangerous, .not-dangerous {
  font-weight: 400;
  border: none;
  border-radius: 0.2rem;
  padding: 0.15rem 0.4rem;
}
.dangerous {
  background-color: #ff5e5e;
  color: white;
}
.not-dangerous {
  background-color: #6fff87;
  color: black;
}

.orbit-container {
  width: 100%;
  height: 500px;
  background-color: black;
}
.orbit-container > canvas {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -2px 0 0 0;
}
.hide {
  display: none;
}

/*  */

@media (max-width: 1050px) {
  .asteroid-container {
    width: 800px;
    letter-spacing: 0.1px;
    padding: 1rem 0 1.5rem 5rem;
  }
  .asteroid-name {
    font-size: 2.2rem;
  }
  .asteroid-size-comparison,
  .asteroid-speed-comparison {
    padding-top: 0.5rem;
  }
  .comparison-image {
    width: 120px;
  }
}

@media (max-width: 950px) {
  .asteroid-container {
    width: 700px;
    padding: 1rem 0 1.5rem 4rem;
  }
  .asteroid-size-comparison, .asteroid-speed-comparison {
    padding-top: 1.5rem;
  }
  .comparison-image {
    width: 100px;
  }
  .asteroid-name {
    font-size: 2rem;
  }
  .dangerous, .not-dangerous {
    font-weight: 400;
    padding: 0 0.4rem -1rem 0.4rem;
  }
}

@media (max-width: 800px) {
  .asteroid-container {
    width: 600px;
    padding: 1rem 0 1.5rem 4rem;
    grid-template-columns: 240px 170px 170px;
  }
  .asteroid-size-comparison, .asteroid-speed-comparison {
    text-align: center;
  }
}

@media (max-width: 700px) {
  #header-link {
    font-size: 1.8rem;
    letter-spacing: 0;
    margin: 0.5rem 0;
  }
  .asteroid-container {
    width: 550px;
    padding: 1rem 1rem 1.5rem 2rem;
    grid-template-columns: 240px 170px 170px;
    align-items: flex-end;
  }
  .asteroid-name {
    font-size: 1.6rem;
    margin: -0.5rem 0;
  }
  .asteroid-size-comparison, .asteroid-speed-comparison {
    padding-top: 0;
  }
  .comparison-image {
    width: 90px;
  }
}
